EOB Processing with Document Category Routing - Fixed.json
{
  "name": "EOB Processing with Document Category Routing - Fixed",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "eob-process",
        "options": {}
      },
      "id": "98492ce5-a691-4d87-a086-732c383ec7ce",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1648,
        0
      ],
      "webhookId": "fb783dbb-0096-4ade-a6c6-4f7012b9e734"
    },
    {
      "parameters": {
        "jsCode": "const webhookData = $input.first().json.body;\nreturn [{\n  json: {\n    processId: webhookData.processId,\n    filename: webhookData.filename,\n    originalFilename: webhookData.originalFilename,\n    driveFileId: webhookData.driveFileId,\n    userid: webhookData.userid,\n    clientId: webhookData.clientId,\n    sessionId: webhookData.sessionId,\n    modelId: webhookData.modelId || 2,\n    docCategory: String(webhookData.docCategory),\n    startTime: new Date().toISOString()\n  }\n}];"
      },
      "id": "4860ecbf-6aa6-4341-b22c-137feac3cfff",
      "name": "Extract Process Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1488,
        0
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.docCategory }}",
        "rules": {
          "rules": [
            {
              "value2": "1"
            },
            {
              "value2": "2",
              "output": 1
            },
            {
              "value2": "3",
              "output": 2
            }
          ]
        },
        "fallbackOutput": 3
      },
      "id": "f0ee52a0-f1c0-455f-ae9e-f9aae53ebac4",
      "name": "Route by Document Category",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -1328,
        -32
      ]
    },
    {
      "parameters": {},
      "id": "a899d26e-3583-4f39-9259-2c76f69f5790",
      "name": "EOB Processing Chain Goes Here",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1104,
        -224
      ],
      "notes": "Connect your existing EOB processing nodes here:\n1. Get Model Pricing\n2. Get DocAI Cost Config\n3. Wait for Drive Upload\n4. Download PDF from Drive\n5. Execute Python - Document AI\n6. Parse Python Output\n7. OpenAI - Extract EOB Data\n8. Calculate Document AI Cost\n9. Calculate OpenAI Cost\n10. Calculate Total Cost & Time\n11. Prepare JSON\n12. Prepare CSV\n13. JSON to Binary\n14. CSV to Binary\n15. Upload JSON to eob-results\n16. Upload CSV to eob-results\n17. Move & Rename PDF\n18. Prepare Results Payload\n\nThen connect final node to 'Send Results to Upload Service'"
    },
    {
      "parameters": {},
      "id": "0ada19c3-d16f-4e57-ac2a-c8e8415d7c88",
      "name": "Facesheet Processing Chain Goes Here",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1104,
        -16
      ],
      "notes": "Duplicate the EOB chain and:\n1. Rename all nodes (add '-Facesheet' suffix)\n2. Update OpenAI prompt to extract:\n   - patient_name, first_name, last_name\n   - date_of_birth (MM/DD/YYYY)\n   - medical_record_number, account_number\n   - admission_date, discharge_date\n   - insurance_company, insurance_id\n   - diagnosis_codes, procedure_codes\n   - attending_physician, facility_name\n   - patient_address, phone_number\n   - emergency_contact, emergency_phone\n   - allergies, medications\n\nThen connect final node to 'Send Results to Upload Service'"
    },
    {
      "parameters": {},
      "id": "6f0edecd-efe5-4fde-aae0-1b4223077c6c",
      "name": "Invoice Processing Chain Goes Here",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1104,
        320
      ],
      "notes": "Duplicate the EOB chain and:\n1. Rename all nodes (add '-Invoice' suffix)\n2. Update OpenAI prompt to extract:\n   - invoice_number, invoice_date\n   - vendor_name, vendor_address, vendor_tax_id\n   - customer_name, billing_address\n   - po_number, due_date\n   - line_items[] (description, quantity, unit_price, total)\n   - subtotal, tax_amount, tax_rate\n   - total_amount, amount_due\n   - payment_terms, payment_method\n   - currency, notes\n\nThen connect final node to 'Send Results to Upload Service'"
    },
    {
      "parameters": {
        "jsCode": "// Fetch model pricing from API (FIXED)\nconst items = $input.all();\nconst processData = items[0].json;\nconst modelId = processData.modelId || 2;\n\nconsole.log('Fetching pricing for model:', modelId);\n\nconst response = await this.helpers.httpRequest({\n  method: 'GET',\n  url: `http://127.0.0.1:3000/api/admin/openai-models/${modelId}/pricing`,\n  json: true\n});\n\nconsole.log('Model pricing fetched:', response.data.model_name);\n\nreturn items.map(item => ({\n  json: response\n}));"
      },
      "id": "eec3b97b-76e1-4b77-820d-85291568539c",
      "name": "Get Model Pricing",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -912,
        -400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Fetch DocAI cost config (FIXED)\nconst items = $input.all();\n\nconsole.log('Fetching DocAI cost config');\n\nconst response = await this.helpers.httpRequest({\n  method: 'GET',\n  url: 'http://127.0.0.1:3000/api/admin/config/docai_cost_per_page',\n  json: true\n});\n\nconsole.log('DocAI cost:', response.data.value);\n\nreturn items.map(item => ({\n  json: response\n}));"
      },
      "id": "ce7e9bbd-104e-41d7-98b1-ee87a0147fc3",
      "name": "Get Document AI Cost Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -704,
        -400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Wait for file to be available in Google Drive\nawait new Promise(resolve => setTimeout(resolve, 2000));\n\nconst processData = $('Extract Process Data').first().json;\n\nconsole.log('Drive file ready for:', processData.filename);\n\nreturn [{\n  json: {\n    ...processData,\n    driveFileReady: true\n  }\n}];"
      },
      "id": "16397a17-c91d-4da3-81b9-555a9078de66",
      "name": "Wait for Drive Upload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -512,
        -400
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": "={{ $('Extract Process Data').first().json.driveFileId }}",
        "options": {}
      },
      "id": "ff2ac384-e50d-4fe8-be5b-f39bdd4c3782",
      "name": "Download PDF from Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -304,
        -400
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "i7A3g0R8hNGHooNA",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "command": "=python \"C:\\Automation\\AI Agents\\GCloud Document AI\\Eob_process_n8n\\eob_process_with_DocAI_n8n_without_watching_v6.py\" \"H:/My Drive/AAA AI-Training/Document Processing/EOB-Extractor/eob-source/{{ $('Extract Process Data').first().json.filename }}\""
      },
      "id": "01725a0d-48e6-488f-a36a-a007de0aa09e",
      "name": "Execute Python - Document AI",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -112,
        -400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Calculate Document AI cost dynamically\nconst pythonOutput = $input.first().json;\nconst docAiConfig = $('Get Document AI Cost Config').first().json.data;\n\n// Extract number of pages from python output (Parse Python Output puts it at top level)\nlet pages = pythonOutput.pages || 0;\n\n// Fallback: check inside data object as well\nif (pages === 0 && pythonOutput.data && pythonOutput.data.pages) {\n  pages = pythonOutput.data.pages;\n}\n\nconsole.log('Pages found:', pages);\nconsole.log('Python output structure:', JSON.stringify(Object.keys(pythonOutput)));\n\nconst costPerPage = parseFloat(docAiConfig.value || 0.015);\nconst documentAiCost = pages * costPerPage;\n\nconsole.log(`Document AI Cost: ${pages} pages × $${costPerPage} = $${documentAiCost.toFixed(4)}`);\n\nreturn [{\n  json: {\n    documentAiCost: parseFloat(documentAiCost.toFixed(4)),\n    pages: pages,\n    costPerPage: costPerPage\n  }\n}];"
      },
      "id": "2c2358c8-0d97-4acb-94ba-9486b8531335",
      "name": "Calculate Document AI Cost",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        -624
      ]
    },
    {
      "parameters": {
        "jsCode": "// Parse Python script output to extract JSON data (WITH DEBUG)\nconst pythonResult = $input.first().json;\nconst output = pythonResult.stdout || '';\nconst stderr = pythonResult.stderr || '';\n\nconsole.log('=== PYTHON OUTPUT DEBUG ===');\nconsole.log('stdout length:', output.length);\nconsole.log('stderr:', stderr);\nconsole.log('First 500 chars:', output.substring(0, 500));\nconsole.log('Last 500 chars:', output.substring(Math.max(0, output.length - 500)));\n\n// Find JSON between markers (v6 uses JSON_CONTENT)\nconst startMarker = '===JSON_CONTENT_START===';\nconst endMarker = '===JSON_CONTENT_END===';\n\nconst startIdx = output.indexOf(startMarker);\nconst endIdx = output.indexOf(endMarker);\n\nconsole.log('Start marker index:', startIdx);\nconsole.log('End marker index:', endIdx);\n\nif (startIdx === -1 || endIdx === -1) {\n  console.error('Full stdout:', output);\n  console.error('Full stderr:', stderr);\n  throw new Error(`Could not find JSON markers in Python output. Start: ${startIdx}, End: ${endIdx}`);\n}\n\nconst jsonStr = output.substring(startIdx + startMarker.length, endIdx).trim();\nconsole.log('Extracted JSON string length:', jsonStr.length);\n\nconst data = JSON.parse(jsonStr);\n\n// Debug: Check what fields are in the data\nconsole.log('Parsed data keys:', Object.keys(data));\nconsole.log('Pages value from data:', data.pages);\nconsole.log('Total pages value:', data.total_pages);\n\nreturn [{\n  json: {\n    data: data,\n    pages: data.pages || data.total_pages || 0,  // Try both pages and total_pages\n    rawDataPath: data.raw_data_file || ''\n  }\n}];"
      },
      "id": "f7881e95-7275-4317-a265-f7516780d7a8",
      "name": "Parse Python Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        96,
        -400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Calculate OpenAI cost dynamically\nconst aiResponse = $input.first().json;\nconst modelPricing = $('Get Model Pricing').first().json.data;\n\nconst inputTokens = aiResponse.usage?.prompt_tokens || 0;\nconst outputTokens = aiResponse.usage?.completion_tokens || 0;\n\nconst inputCostPer1k = parseFloat(modelPricing.input_cost_per_1k || 0.00015);\nconst outputCostPer1k = parseFloat(modelPricing.output_cost_per_1k || 0.0006);\n\nconst openAiCost = (inputTokens / 1000 * inputCostPer1k) + (outputTokens / 1000 * outputCostPer1k);\n\nconsole.log(`OpenAI Cost: ${inputTokens} input + ${outputTokens} output tokens = $${openAiCost.toFixed(4)}`);\nconsole.log(`Model: ${modelPricing.model_name} (${modelPricing.model_code})`);\n\nreturn [{\n  json: {\n    openAiCost: parseFloat(openAiCost.toFixed(4)),\n    inputTokens: inputTokens,\n    outputTokens: outputTokens,\n    totalTokens: inputTokens + outputTokens,\n    modelName: modelPricing.model_name,\n    modelCode: modelPricing.model_code,\n    inputCostPer1k: inputCostPer1k,\n    outputCostPer1k: outputCostPer1k\n  }\n}];"
      },
      "id": "7988a8d7-4edc-4f15-8e78-6df69abf288a",
      "name": "Calculate OpenAI Cost",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        -400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Calculate total cost and processing time\nconst processData = $('Extract Process Data').first().json;\nconst docAiCost = $('Calculate Document AI Cost').first().json;\nconst openAiCost = $('Calculate OpenAI Cost').first().json;\n\nconst startTime = new Date(processData.startTime);\nconst endTime = new Date();\nconst processingTimeMs = endTime - startTime;\nconst processingTimeSeconds = Math.round(processingTimeMs / 1000);\n\nconst totalCost = parseFloat((docAiCost.documentAiCost + openAiCost.openAiCost).toFixed(4));\n\nconsole.log(`Total Cost: $${totalCost} (DocAI: $${docAiCost.documentAiCost} + OpenAI: $${openAiCost.openAiCost})`);\nconsole.log(`Processing Time: ${processingTimeSeconds} seconds`);\n\nreturn [{\n  json: {\n    totalCost: totalCost,\n    documentAiCost: docAiCost.documentAiCost,\n    openAiCost: openAiCost.openAiCost,\n    processingTimeSeconds: processingTimeSeconds,\n    processingTimeMs: processingTimeMs,\n    pages: docAiCost.pages,\n    inputTokens: openAiCost.inputTokens,\n    outputTokens: openAiCost.outputTokens,\n    modelUsed: openAiCost.modelName\n  }\n}];"
      },
      "id": "b0ea81a2-752f-4e00-a24c-5d0c9ce0d1b4",
      "name": "Calculate Total Cost & Time",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        -400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Prepare JSON output (NO TIMESTAMP)\nconst aiResponse = $('OpenAI - Extract EOB Data1').first().json;\nconst processData = $('Extract Process Data').first().json;\nconst costData = $('Calculate Total Cost & Time').first().json;\n\nlet extractedData;\n\n// Handle different OpenAI response formats\nif (aiResponse.message) {\n  const content = aiResponse.message.content || aiResponse.message;\n  if (typeof content === 'string') {\n    extractedData = JSON.parse(content);\n  } else {\n    extractedData = content;\n  }\n} else if (aiResponse.choices && aiResponse.choices[0]) {\n  const content = aiResponse.choices[0].message.content;\n  extractedData = JSON.parse(content);\n} else if (typeof aiResponse === 'string') {\n  extractedData = JSON.parse(aiResponse);\n} else if (aiResponse.data) {\n  extractedData = aiResponse.data;\n} else {\n  extractedData = aiResponse;\n}\n\nconst baseFilename = processData.originalFilename.replace('.pdf', '');\nconst jsonFilename = `extracted_${baseFilename}.json`;\n\nconst jsonOutput = {\n  data: extractedData.data || extractedData,\n  metadata: {\n    original_pdf: processData.originalFilename,\n    process_id: processData.processId,\n    processed_at: new Date().toISOString(),\n    source: 'Document AI + OpenAI',\n    model_used: costData.modelUsed,\n    total_records: (extractedData.data || extractedData).length || 0,\n    pages: costData.pages,\n    processing_time_seconds: costData.processingTimeSeconds,\n    costs: {\n      document_ai: costData.documentAiCost,\n      openai: costData.openAiCost,\n      total: costData.totalCost\n    },\n    tokens: {\n      input: costData.inputTokens,\n      output: costData.outputTokens\n    },\n    summary: extractedData.summary || {}\n  }\n};\n\nreturn [{\n  json: {\n    jsonOutput: jsonOutput,\n    jsonFilename: jsonFilename,\n    extractedRecords: extractedData.data || extractedData,\n    totalRecords: (extractedData.data || extractedData).length || 0\n  }\n}];"
      },
      "id": "7fd2e96a-8d57-4c33-b901-d74e4fa9f5f9",
      "name": "Prepare JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        -400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Prepare CSV output (NO TIMESTAMP)\nconst jsonData = $('Prepare JSON').first().json;\nconst processData = $('Extract Process Data').first().json;\n\nconst records = jsonData.extractedRecords || [];\n\nif (records.length === 0) {\n  return [{\n    json: {\n      csvFilename: '',\n      csvContent: '',\n      error: 'No records to convert to CSV'\n    }\n  }];\n}\n\n// Get all unique keys from all records\nconst allKeys = new Set();\nrecords.forEach(record => {\n  Object.keys(record).forEach(key => allKeys.add(key));\n});\n\nconst headers = Array.from(allKeys);\n\n// Build CSV\nconst csvRows = [];\ncsvRows.push(headers.join(','));\n\nrecords.forEach(record => {\n  const row = headers.map(header => {\n    const value = record[header] || '';\n    // Escape values with commas or quotes\n    if (typeof value === 'string' && (value.includes(',') || value.includes('\"'))) {\n      return `\"${value.replace(/\"/g, '\"\"')}\"`;\n    }\n    return value;\n  });\n  csvRows.push(row.join(','));\n});\n\nconst csvContent = csvRows.join('\\n');\nconst baseFilename = processData.originalFilename.replace('.pdf', '');\nconst csvFilename = `extracted_${baseFilename}.csv`;\n\nreturn [{\n  json: {\n    csvFilename: csvFilename,\n    csvContent: csvContent\n  }\n}];"
      },
      "id": "eb604f3d-02ff-4b40-9cc0-74706710c86a",
      "name": "Prepare CSV",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        -176
      ]
    },
    {
      "parameters": {
        "jsCode": "// Convert JSON to binary for upload\nconst jsonData = $('Prepare JSON').first().json;\nconst jsonStr = JSON.stringify(jsonData.jsonOutput, null, 2);\nconst buffer = Buffer.from(jsonStr, 'utf8');\n\nreturn [{\n  json: {\n    filename: jsonData.jsonFilename\n  },\n  binary: {\n    data: {\n      data: buffer.toString('base64'),\n      mimeType: 'application/json',\n      fileName: jsonData.jsonFilename\n    }\n  }\n}];"
      },
      "id": "6e2daef6-38c7-4d37-93c9-26f7a3702ca2",
      "name": "JSON to Binary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        -400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Convert CSV to binary for upload\nconst csvData = $('Prepare CSV').first().json;\nconst buffer = Buffer.from(csvData.csvContent, 'utf8');\n\nreturn [{\n  json: {\n    filename: csvData.csvFilename\n  },\n  binary: {\n    data: {\n      data: buffer.toString('base64'),\n      mimeType: 'text/csv',\n      fileName: csvData.csvFilename\n    }\n  }\n}];"
      },
      "id": "0fb18268-e6f6-452e-9338-e47fa4d7ae41",
      "name": "CSV to Binary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        -176
      ]
    },
    {
      "parameters": {
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": "140_11GaATZVV3Ez7aQE7FGJJ4DHWXVFR",
        "options": {}
      },
      "id": "7240bd16-b5c3-4bd2-b9aa-561061df89c0",
      "name": "Upload JSON to eob-results",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1392,
        -400
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "i7A3g0R8hNGHooNA",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": "140_11GaATZVV3Ez7aQE7FGJJ4DHWXVFR",
        "options": {}
      },
      "id": "ddbaeeec-9d8a-448c-bbb0-b5eae1b2d5ca",
      "name": "Upload CSV to eob-results",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1264,
        -176
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "i7A3g0R8hNGHooNA",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "fileId": "={{ $('Extract Process Data').first().json.driveFileId }}",
        "options": {}
      },
      "id": "37e129c4-5f35-43be-8624-c866cc41633e",
      "name": "Move & Rename PDF",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1424,
        -176
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "i7A3g0R8hNGHooNA",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Prepare complete results payload to send back to upload service\nconst processData = $('Extract Process Data').first().json;\nconst costData = $('Calculate Total Cost & Time').first().json;\nconst jsonUpload = $('Upload JSON to eob-results').first().json;\nconst csvUpload = $('Upload CSV to eob-results').first().json;\nconst pdfMove = $('Move & Rename PDF').first().json;\nconst jsonData = $('Prepare JSON').first().json;\n\n// Debug: Log all source data\nconsole.log('=== SOURCE DATA DEBUG ===');\nconsole.log('processData:', JSON.stringify(processData, null, 2));\nconsole.log('costData:', JSON.stringify(costData, null, 2));\nconsole.log('jsonUpload:', JSON.stringify(jsonUpload, null, 2));\nconsole.log('csvUpload:', JSON.stringify(csvUpload, null, 2));\nconsole.log('pdfMove:', JSON.stringify(pdfMove, null, 2));\nconsole.log('jsonData.totalRecords:', jsonData.totalRecords);\n\n// Helper: Convert undefined/NaN to null, ensure numbers are valid\nconst sanitize = (value, defaultValue = null) => {\n  if (value === undefined || value === null) return defaultValue;\n  if (typeof value === 'number' && isNaN(value)) return defaultValue;\n  return value;\n};\n\nconst payload = {\n  processId: sanitize(processData.processId),\n  status: 'Processed',\n  jsonDriveUrl: sanitize(jsonUpload.webViewLink) || sanitize(jsonUpload.webContentLink) || null,\n  csvDriveUrl: sanitize(csvUpload.webViewLink) || sanitize(csvUpload.webContentLink) || null,\n  jsonDriveId: sanitize(jsonUpload.id),\n  csvDriveId: sanitize(csvUpload.id),\n  // processedPdfDriveId: sanitize(pdfMove.id), // REMOVED: Database column does not exist\n  processingTimeSeconds: sanitize(costData.processingTimeSeconds, 0),\n  documentAiCost: sanitize(costData.documentAiCost, 0),\n  openAiCost: sanitize(costData.openAiCost, 0),\n  totalCost: sanitize(costData.totalCost, 0),\n  totalRecords: sanitize(jsonData.totalRecords, 0),\n  noOfPages: sanitize(costData.pages, 0)\n};\n\nconsole.log('=== PREPARED PAYLOAD ===');\nconsole.log(JSON.stringify(payload, null, 2));\nconsole.log('\\n=== FIELD TYPE CHECK ===');\nObject.entries(payload).forEach(([key, val]) => {\n  console.log(`${key}: type=${typeof val}, value=${val}, isNull=${val === null}`);\n});\n\nreturn [{ json: payload }];"
      },
      "id": "6ad99a71-0721-471a-a296-167ee96d552a",
      "name": "Prepare Results Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1648,
        -176
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "You are a medical document extraction expert. Extract accurate patient demographic and medical information from facesheet documents. Your job is to return accurate structured, machine-readable data with quality controls and zero hallucinations with 100% confidence.",
              "role": "system"
            },
            {
              "content": "=Extract ALL patient demographic and medical information from the input data. \nINPUT: {{ $json.data.text }}\n\nWith your highly intelligent judgement with deep knowledge of EOB data, make sure all EOB records are processed without any data loss.\nAt the end provide a summary of validations/corrections.\n\nFor EACH patient record, extract:\\n- patient_name, first_name, last_name\\n- date_of_birth (MM/DD/YYYY)\\n- medical_record_number, account_number\\n- admission_date, discharge_date (MM/DD/YYYY)\\n- insurance_company, insurance_id\\n- diagnosis_codes, procedure_codes\\n- attending_physician, facility_name\\n- patient_address, phone_number\\n- emergency_contact, emergency_phone\\n- allergies, medications\\n- Confidence_Score (0-100)\\n\\nReturn ONLY valid JSON with 'data' array.\n- Confidence_Score: Your confidence in the accuracy of this extraction (0-100)\n\nIMPORTANT RULES:\n- Return \"\" (empty string) for any field not found, NOT \"N/A\"\n- Return amounts as plain numbers without $ or commas\n- Return dates in MM/DD/YY format\n\nReturn ONLY valid JSON with 'data' array."
            }
          ]
        },
        "jsonOutput": true,
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        304,
        -400
      ],
      "id": "1e7af5d0-2c32-4b95-9b60-4ef1e2ff1f06",
      "name": "OpenAI - Extract EOB Data1",
      "credentials": {
        "openAiApi": {
          "id": "GK7XmbpGPTdHpoPW",
          "name": "EOB-Assistant"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Send results to database (FIXED)\nconst results = $('Prepare Results Payload').first().json;\n\nconsole.log('=== SENDING RESULTS TO UPLOAD SERVICE ===');\nconsole.log('Process ID:', results.processId);\nconsole.log('Payload:', JSON.stringify(results, null, 2));\n\ntry {\n  const response = await this.helpers.httpRequest({\n    method: 'POST',\n    url: `http://127.0.0.1:3000/api/documents/${results.processId}/n8n-results`,\n    json: true,\n    body: results\n  });\n  \n  console.log('✓ Results sent successfully');\n  console.log('Response:', JSON.stringify(response, null, 2));\n  \n  return [{\n    json: {\n      status: 'success',\n      message: 'Results sent to upload service',\n      processId: results.processId,\n      response: response\n    }\n  }];\n} catch (error) {\n  console.error('✗ Failed to send results');\n  console.error('Error message:', error.message);\n  console.error('Error response:', error.response?.body || 'No response body');\n  console.error('Status code:', error.statusCode || error.response?.statusCode);\n  console.error('Full error:', JSON.stringify(error, Object.getOwnPropertyNames(error)));\n  \n  return [{\n    json: {\n      status: 'error',\n      message: 'Failed to send results',\n      processId: results.processId,\n      error: error.message,\n      errorDetails: error.response?.body || null,\n      statusCode: error.statusCode || error.response?.statusCode || null\n    }\n  }];\n}"
      },
      "id": "2973f251-ac98-4097-8e12-d3628c703e27",
      "name": "Send Results to Upload Service1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1888,
        -176
      ]
    },
    {
      "parameters": {
        "jsCode": "// Fetch model pricing from API (FIXED)\nconst items = $input.all();\nconst processData = items[0].json;\nconst modelId = processData.modelId || 2;\n\nconsole.log('Fetching pricing for model:', modelId);\n\nconst response = await this.helpers.httpRequest({\n  method: 'GET',\n  url: `http://127.0.0.1:3000/api/admin/openai-models/${modelId}/pricing`,\n  json: true\n});\n\nconsole.log('Model pricing fetched:', response.data.model_name);\n\nreturn items.map(item => ({\n  json: response\n}));"
      },
      "id": "5d6df715-9574-4bf1-80a5-9f22abffbb31",
      "name": "Get Model Pricing1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -880,
        144
      ]
    },
    {
      "parameters": {
        "jsCode": "// Fetch DocAI cost config (FIXED)\nconst items = $input.all();\n\nconsole.log('Fetching DocAI cost config');\n\nconst response = await this.helpers.httpRequest({\n  method: 'GET',\n  url: 'http://127.0.0.1:3000/api/admin/config/docai_cost_per_page',\n  json: true\n});\n\nconsole.log('DocAI cost:', response.data.value);\n\nreturn items.map(item => ({\n  json: response\n}));"
      },
      "id": "131fab35-d716-4463-98b4-8849e7c9e700",
      "name": "Get Document AI Cost Config1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -672,
        144
      ]
    },
    {
      "parameters": {
        "jsCode": "// Wait for file to be available in Google Drive\nawait new Promise(resolve => setTimeout(resolve, 2000));\n\nconst processData = $('Extract Process Data').first().json;\n\nconsole.log('Drive file ready for:', processData.filename);\n\nreturn [{\n  json: {\n    ...processData,\n    driveFileReady: true\n  }\n}];"
      },
      "id": "8f019fea-f956-401d-a698-297f8e3baac1",
      "name": "Wait for Drive Upload1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -480,
        144
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": "={{ $('Extract Process Data').first().json.driveFileId }}",
        "options": {}
      },
      "id": "36b5fab3-4c78-45d8-82d6-43411ea25f90",
      "name": "Download PDF from Drive1",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -272,
        144
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "i7A3g0R8hNGHooNA",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "command": "=python \"C:\\Automation\\AI Agents\\GCloud Document AI\\Eob_process_n8n\\eob_process_with_DocAI_n8n_without_watching_v6.py\" \"H:/My Drive/AAA AI-Training/Document Processing/EOB-Extractor/eob-source/{{ $('Extract Process Data').first().json.filename }}\""
      },
      "id": "baaffde0-3801-47c3-bcc6-aba54e9e1b13",
      "name": "Execute Python - Document AI1",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -80,
        144
      ]
    },
    {
      "parameters": {
        "jsCode": "// Calculate Document AI cost dynamically\nconst pythonOutput = $input.first().json;\nconst docAiConfig = $('Get Document AI Cost Config1').first().json.data;\n\n// Extract number of pages from python output (Parse Python Output puts it at top level)\nlet pages = pythonOutput.pages || 0;\n\n// Fallback: check inside data object as well\nif (pages === 0 && pythonOutput.data && pythonOutput.data.pages) {\n  pages = pythonOutput.data.pages;\n}\n\nconsole.log('Pages found:', pages);\nconsole.log('Python output structure:', JSON.stringify(Object.keys(pythonOutput)));\n\nconst costPerPage = parseFloat(docAiConfig.value || 0.015);\nconst documentAiCost = pages * costPerPage;\n\nconsole.log(`Document AI Cost: ${pages} pages × $${costPerPage} = $${documentAiCost.toFixed(4)}`);\n\nreturn [{\n  json: {\n    documentAiCost: parseFloat(documentAiCost.toFixed(4)),\n    pages: pages,\n    costPerPage: costPerPage\n  }\n}];"
      },
      "id": "2c62b16f-4e40-43b9-80aa-de1ebe6097aa",
      "name": "Calculate Document AI Cost1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        384,
        -80
      ]
    },
    {
      "parameters": {
        "jsCode": "// Parse Python script output to extract JSON data (WITH DEBUG)\nconst pythonResult = $input.first().json;\nconst output = pythonResult.stdout || '';\nconst stderr = pythonResult.stderr || '';\n\nconsole.log('=== PYTHON OUTPUT DEBUG ===');\nconsole.log('stdout length:', output.length);\nconsole.log('stderr:', stderr);\nconsole.log('First 500 chars:', output.substring(0, 500));\nconsole.log('Last 500 chars:', output.substring(Math.max(0, output.length - 500)));\n\n// Find JSON between markers (v6 uses JSON_CONTENT)\nconst startMarker = '===JSON_CONTENT_START===';\nconst endMarker = '===JSON_CONTENT_END===';\n\nconst startIdx = output.indexOf(startMarker);\nconst endIdx = output.indexOf(endMarker);\n\nconsole.log('Start marker index:', startIdx);\nconsole.log('End marker index:', endIdx);\n\nif (startIdx === -1 || endIdx === -1) {\n  console.error('Full stdout:', output);\n  console.error('Full stderr:', stderr);\n  throw new Error(`Could not find JSON markers in Python output. Start: ${startIdx}, End: ${endIdx}`);\n}\n\nconst jsonStr = output.substring(startIdx + startMarker.length, endIdx).trim();\nconsole.log('Extracted JSON string length:', jsonStr.length);\n\nconst data = JSON.parse(jsonStr);\n\n// Debug: Check what fields are in the data\nconsole.log('Parsed data keys:', Object.keys(data));\nconsole.log('Pages value from data:', data.pages);\nconsole.log('Total pages value:', data.total_pages);\n\nreturn [{\n  json: {\n    data: data,\n    pages: data.pages || data.total_pages || 0,  // Try both pages and total_pages\n    rawDataPath: data.raw_data_file || ''\n  }\n}];"
      },
      "id": "1b30b9c7-7b3e-4e49-b50f-1f1330113a2d",
      "name": "Parse Python Output1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        128,
        144
      ]
    },
    {
      "parameters": {
        "jsCode": "// Calculate OpenAI cost dynamically\nconst aiResponse = $input.first().json;\nconst modelPricing = $('Get Model Pricing1').first().json.data;\n\nconst inputTokens = aiResponse.usage?.prompt_tokens || 0;\nconst outputTokens = aiResponse.usage?.completion_tokens || 0;\n\nconst inputCostPer1k = parseFloat(modelPricing.input_cost_per_1k || 0.00015);\nconst outputCostPer1k = parseFloat(modelPricing.output_cost_per_1k || 0.0006);\n\nconst openAiCost = (inputTokens / 1000 * inputCostPer1k) + (outputTokens / 1000 * outputCostPer1k);\n\nconsole.log(`OpenAI Cost: ${inputTokens} input + ${outputTokens} output tokens = $${openAiCost.toFixed(4)}`);\nconsole.log(`Model: ${modelPricing.model_name} (${modelPricing.model_code})`);\n\nreturn [{\n  json: {\n    openAiCost: parseFloat(openAiCost.toFixed(4)),\n    inputTokens: inputTokens,\n    outputTokens: outputTokens,\n    totalTokens: inputTokens + outputTokens,\n    modelName: modelPricing.model_name,\n    modelCode: modelPricing.model_code,\n    inputCostPer1k: inputCostPer1k,\n    outputCostPer1k: outputCostPer1k\n  }\n}];"
      },
      "id": "886079b3-0311-412a-b05c-5efa449c4aee",
      "name": "Calculate OpenAI Cost1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        144
      ]
    },
    {
      "parameters": {
        "jsCode": "// Calculate total cost and processing time\nconst processData = $('Extract Process Data').first().json;\nconst docAiCost = $('Calculate Document AI Cost1').first().json;\nconst openAiCost = $('Calculate OpenAI Cost1').first().json;\n\nconst startTime = new Date(processData.startTime);\nconst endTime = new Date();\nconst processingTimeMs = endTime - startTime;\nconst processingTimeSeconds = Math.round(processingTimeMs / 1000);\n\nconst totalCost = parseFloat((docAiCost.documentAiCost + openAiCost.openAiCost).toFixed(4));\n\nconsole.log(`Total Cost: $${totalCost} (DocAI: $${docAiCost.documentAiCost} + OpenAI: $${openAiCost.openAiCost})`);\nconsole.log(`Processing Time: ${processingTimeSeconds} seconds`);\n\nreturn [{\n  json: {\n    totalCost: totalCost,\n    documentAiCost: docAiCost.documentAiCost,\n    openAiCost: openAiCost.openAiCost,\n    processingTimeSeconds: processingTimeSeconds,\n    processingTimeMs: processingTimeMs,\n    pages: docAiCost.pages,\n    inputTokens: openAiCost.inputTokens,\n    outputTokens: openAiCost.outputTokens,\n    modelUsed: openAiCost.modelName\n  }\n}];"
      },
      "id": "87f5a5c0-57d9-4413-afed-14e053f7d82b",
      "name": "Calculate Total Cost & Time1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        144
      ]
    },
    {
      "parameters": {
        "jsCode": "// Prepare JSON output (NO TIMESTAMP)\nconst aiResponse = $('OpenAI - Extract EOB Data').first().json;\nconst processData = $('Extract Process Data').first().json;\nconst costData = $('Calculate Total Cost & Time1').first().json;\n\nlet extractedData;\n\n// Handle different OpenAI response formats\nif (aiResponse.message) {\n  const content = aiResponse.message.content || aiResponse.message;\n  if (typeof content === 'string') {\n    extractedData = JSON.parse(content);\n  } else {\n    extractedData = content;\n  }\n} else if (aiResponse.choices && aiResponse.choices[0]) {\n  const content = aiResponse.choices[0].message.content;\n  extractedData = JSON.parse(content);\n} else if (typeof aiResponse === 'string') {\n  extractedData = JSON.parse(aiResponse);\n} else if (aiResponse.data) {\n  extractedData = aiResponse.data;\n} else {\n  extractedData = aiResponse;\n}\n\nconst baseFilename = processData.originalFilename.replace('.pdf', '');\nconst jsonFilename = `extracted_${baseFilename}.json`;\n\nconst jsonOutput = {\n  data: extractedData.data || extractedData,\n  metadata: {\n    original_pdf: processData.originalFilename,\n    process_id: processData.processId,\n    processed_at: new Date().toISOString(),\n    source: 'Document AI + OpenAI',\n    model_used: costData.modelUsed,\n    total_records: (extractedData.data || extractedData).length || 0,\n    pages: costData.pages,\n    processing_time_seconds: costData.processingTimeSeconds,\n    costs: {\n      document_ai: costData.documentAiCost,\n      openai: costData.openAiCost,\n      total: costData.totalCost\n    },\n    tokens: {\n      input: costData.inputTokens,\n      output: costData.outputTokens\n    },\n    summary: extractedData.summary || {}\n  }\n};\n\nreturn [{\n  json: {\n    jsonOutput: jsonOutput,\n    jsonFilename: jsonFilename,\n    extractedRecords: extractedData.data || extractedData,\n    totalRecords: (extractedData.data || extractedData).length || 0\n  }\n}];"
      },
      "id": "5e12e3cf-bd86-4186-943d-d0f757330837",
      "name": "Prepare JSON1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        144
      ]
    },
    {
      "parameters": {
        "jsCode": "// Prepare CSV output (NO TIMESTAMP)\nconst jsonData = $('Prepare JSON1').first().json;\nconst processData = $('Extract Process Data').first().json;\n\nconst records = jsonData.extractedRecords || [];\n\nif (records.length === 0) {\n  return [{\n    json: {\n      csvFilename: '',\n      csvContent: '',\n      error: 'No records to convert to CSV'\n    }\n  }];\n}\n\n// Get all unique keys from all records\nconst allKeys = new Set();\nrecords.forEach(record => {\n  Object.keys(record).forEach(key => allKeys.add(key));\n});\n\nconst headers = Array.from(allKeys);\n\n// Build CSV\nconst csvRows = [];\ncsvRows.push(headers.join(','));\n\nrecords.forEach(record => {\n  const row = headers.map(header => {\n    const value = record[header] || '';\n    // Escape values with commas or quotes\n    if (typeof value === 'string' && (value.includes(',') || value.includes('\"'))) {\n      return `\"${value.replace(/\"/g, '\"\"')}\"`;\n    }\n    return value;\n  });\n  csvRows.push(row.join(','));\n});\n\nconst csvContent = csvRows.join('\\n');\nconst baseFilename = processData.originalFilename.replace('.pdf', '');\nconst csvFilename = `extracted_${baseFilename}.csv`;\n\nreturn [{\n  json: {\n    csvFilename: csvFilename,\n    csvContent: csvContent\n  }\n}];"
      },
      "id": "4c10ba03-6b83-43d0-8540-b5082e828f8a",
      "name": "Prepare CSV1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        992,
        368
      ]
    },
    {
      "parameters": {
        "jsCode": "// Convert JSON to binary for upload\nconst jsonData = $('Prepare JSON1').first().json;\nconst jsonStr = JSON.stringify(jsonData.jsonOutput, null, 2);\nconst buffer = Buffer.from(jsonStr, 'utf8');\n\nreturn [{\n  json: {\n    filename: jsonData.jsonFilename\n  },\n  binary: {\n    data: {\n      data: buffer.toString('base64'),\n      mimeType: 'application/json',\n      fileName: jsonData.jsonFilename\n    }\n  }\n}];"
      },
      "id": "294eb1bd-6f11-4771-b8a6-9abee8b542ad",
      "name": "JSON to Binary1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1232,
        144
      ]
    },
    {
      "parameters": {
        "jsCode": "// Convert CSV to binary for upload\nconst csvData = $('Prepare CSV1').first().json;\nconst buffer = Buffer.from(csvData.csvContent, 'utf8');\n\nreturn [{\n  json: {\n    filename: csvData.csvFilename\n  },\n  binary: {\n    data: {\n      data: buffer.toString('base64'),\n      mimeType: 'text/csv',\n      fileName: csvData.csvFilename\n    }\n  }\n}];"
      },
      "id": "904b5864-a238-4ac6-836b-f19564a10278",
      "name": "CSV to Binary1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1152,
        368
      ]
    },
    {
      "parameters": {
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": "140_11GaATZVV3Ez7aQE7FGJJ4DHWXVFR",
        "options": {}
      },
      "id": "b5e801f0-a949-47c8-867c-70488240f8bb",
      "name": "Upload JSON to eob-results1",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1424,
        144
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "i7A3g0R8hNGHooNA",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": "140_11GaATZVV3Ez7aQE7FGJJ4DHWXVFR",
        "options": {}
      },
      "id": "643bd411-e146-49ea-a27c-fdf9866d8142",
      "name": "Upload CSV to eob-results1",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1296,
        368
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "i7A3g0R8hNGHooNA",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "fileId": "={{ $('Extract Process Data').first().json.driveFileId }}",
        "options": {}
      },
      "id": "a1f57e48-1320-483a-af60-08667b0693fe",
      "name": "Move & Rename PDF1",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1456,
        368
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "i7A3g0R8hNGHooNA",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Prepare complete results payload to send back to upload service\nconst processData = $('Extract Process Data').first().json;\nconst costData = $('Calculate Total Cost & Time1').first().json;\nconst jsonUpload = $('Upload JSON to eob-results1').first().json;\nconst csvUpload = $('Upload CSV to eob-results1').first().json;\nconst pdfMove = $('Move & Rename PDF1').first().json;\nconst jsonData = $('Prepare JSON1').first().json;\n\n// Debug: Log all source data\nconsole.log('=== SOURCE DATA DEBUG ===');\nconsole.log('processData:', JSON.stringify(processData, null, 2));\nconsole.log('costData:', JSON.stringify(costData, null, 2));\nconsole.log('jsonUpload:', JSON.stringify(jsonUpload, null, 2));\nconsole.log('csvUpload:', JSON.stringify(csvUpload, null, 2));\nconsole.log('pdfMove:', JSON.stringify(pdfMove, null, 2));\nconsole.log('jsonData.totalRecords:', jsonData.totalRecords);\n\n// Helper: Convert undefined/NaN to null, ensure numbers are valid\nconst sanitize = (value, defaultValue = null) => {\n  if (value === undefined || value === null) return defaultValue;\n  if (typeof value === 'number' && isNaN(value)) return defaultValue;\n  return value;\n};\n\nconst payload = {\n  processId: sanitize(processData.processId),\n  status: 'Processed',\n  jsonDriveUrl: sanitize(jsonUpload.webViewLink) || sanitize(jsonUpload.webContentLink) || null,\n  csvDriveUrl: sanitize(csvUpload.webViewLink) || sanitize(csvUpload.webContentLink) || null,\n  jsonDriveId: sanitize(jsonUpload.id),\n  csvDriveId: sanitize(csvUpload.id),\n  // processedPdfDriveId: sanitize(pdfMove.id), // REMOVED: Database column does not exist\n  processingTimeSeconds: sanitize(costData.processingTimeSeconds, 0),\n  documentAiCost: sanitize(costData.documentAiCost, 0),\n  openAiCost: sanitize(costData.openAiCost, 0),\n  totalCost: sanitize(costData.totalCost, 0),\n  totalRecords: sanitize(jsonData.totalRecords, 0),\n  noOfPages: sanitize(costData.pages, 0)\n};\n\nconsole.log('=== PREPARED PAYLOAD ===');\nconsole.log(JSON.stringify(payload, null, 2));\nconsole.log('\\n=== FIELD TYPE CHECK ===');\nObject.entries(payload).forEach(([key, val]) => {\n  console.log(`${key}: type=${typeof val}, value=${val}, isNull=${val === null}`);\n});\n\nreturn [{ json: payload }];"
      },
      "id": "1beb7ffd-8763-4873-8ae7-428a5907516b",
      "name": "Prepare Results Payload1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        368
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "You are a document EOB data-extraction expert and a Quality Analyst. Your job is to return accurate structured, machine-readable data with quality controls and zero hallucinations with 100% confidence.",
              "role": "system"
            },
            {
              "content": "=Extract ALL EOB (Explanation of Benefits) records from the input data. \nINPUT: {{ $json.data.text }}\n\nWith your highly intelligent judgement with deep knowledge of EOB data, make sure all EOB records are processed without any data loss.\nAt the end provide a summary of validations/corrections.\n\nFor EACH patient/claim found on this page, extract these fields (return \"\" if not found):\n-Original_page_no: Original_page_no should be the starting digit/s before second \"_\" in the current filename: {{ $('Download PDF from Drive1').item.json.name }}. If filename doesn't have this pattern, then Original_page_no will be the Page no near the patient and eob details.\n* For Example, if the Filename is 13_7_BCBS_EOB_file.png, the Original_page_no is 13\n\n- EOB_page_no: EOB_page_no should be the digit/s between first \"_\" and second \"_\"in the current filename: {{ $('Download PDF from Drive1').item.json.name }}. If filename doesn't have this pattern, then Original_page_no will be the Page no near the patient and eob details.\n* For Example, if the Filename is 13_7_BCBS_EOB_file.png, the EOB_page_no is 7\n\n- patient_acct: Patient account number - MUST be from a field/column labeled with \"Patient\" keyword\n  * CRITICAL: Look in TABLE COLUMN HEADERS for: \"Patient Account #\", \"Patient Acct #\", \"Patient Account\", \"Patient #\", \"Patient Acct\", \"Patient No\"\n  * Extract the value from the FIRST COLUMN if header contains \"Patient Account\"\n  * Also check for labels outside tables: \"Patient#:\", \"Patient #:\", \"Patient Acct:\", etc.\n  * ABSOLUTELY DO NOT extract from \"Claim#\", \"Claim #\", \"Claim Number\", or any field with \"Claim\" in the label\n  * If you see \"Claim#: XXXXXXXX-XX\" in the CHECK/PAYMENT area, that is NOT patient_acct\n  * Look for HIGHLIGHTED/SHADED text near \"Patient\" labels\n  * Common format: XXXXXX-XXXXXXX (6 digits hyphen 7 digits) like 389371-2393961 or 253367-1821964\n  * May also appear as single long number in a table column\n  * If no field/column with \"Patient\" label is found, return \"\"\n  * Example of what NOT to use: \"Claim#: 11972398-01\" in check area ← This is NOT patient account\n- Patient_ID: From patient_acct, the first digits before the \"-\" are the patient ID, and the digits after the \"-\" are the claim ID. Normally, patient_id is 6 digits, and claim_id is 7 digits. Sometimes, if patient_account doesn't have the dash, then consider the first 6 digits as the patient_id and the next 7 digits as the claim_id.\n*For example,If patient_acct is 389371-2393961, then Patient_ID=389371 and Claim_ID=2393961\n*If patient_acct is 4556576675556, then Patient_ID=455657 and Claim_ID=6675556\n- Claim_ID: \n- Patient Name: Full name in format \"LAST, FIRST\"\n  * Look for HIGHLIGHTED/SHADED text (often yellow) near label \"Patient:\"\n  * NOT from \"Insured\" if different from Patient\n- First_Name\n- Last Name\n- member_number: Insurance member number or subscriber ID\n  * Look for labels: \"Member #\", \"Subscriber ID\", \"Member No\", \"Mbr No\"\n  * This is typically the insurance policy/member number\n  \n- service_date: Date of service (MM/DD/YY format)\n- allowed_amount: Allowed amount (numeric only, no $ or commas)\n- interest_amount: Interest amount (numeric only)\n- paid_amount: Amount paid (numeric only)\n- insurance_co: Insurance company name\n- billed_amount: Billed amount (numeric only)\n- cpt_hcpcs: CPT/HCPCS code\n- adj_co45: Adjustment CO45 (numeric only)\n- adj_co144: Adjustment CO144 (numeric only)\n- adj_co253: Adjustment CO253 (numeric only)\n- check_number: Check/payment number.  Look near \"Check #\", \"Check Number\", \"Payment #\". This mostly appears in the previous page.\n- account_number: Account number (if different from patient_acct)\n- patient_responsibility: Amount patient owes (numeric only, or \"\" if nothing)\n- claim_summary: Brief summary of what this claim is for\n- action_required: What action is needed (e.g., \"No Action\", \"Payment Required\")\n- reason_code_comments: Any reason codes with explanations\n- Confidence_Score: Your confidence in the accuracy of this extraction (0-100)\n\nIMPORTANT RULES:\n- Return \"\" (empty string) for any field not found, NOT \"N/A\"\n- Return amounts as plain numbers without $ or commas\n- Return dates in MM/DD/YY format\n- Return Patient Name in \"LAST, FIRST\" format\n- patient_acct must be in XXXXXX-XXXXXXX format with hyphen\n- Do NOT confuse \"Claim #\" with \"Patient #\"\n\nReturn ONLY valid JSON with 'data' array."
            }
          ]
        },
        "jsonOutput": true,
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        336,
        144
      ],
      "id": "47c74b66-1d62-4966-85ae-0d09432fc6bc",
      "name": "OpenAI - Extract EOB Data",
      "credentials": {
        "openAiApi": {
          "id": "GK7XmbpGPTdHpoPW",
          "name": "EOB-Assistant"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Send results to database (FIXED)\nconst results = $('Prepare Results Payload1').first().json;\n\nconsole.log('=== SENDING RESULTS TO UPLOAD SERVICE ===');\nconsole.log('Process ID:', results.processId);\nconsole.log('Payload:', JSON.stringify(results, null, 2));\n\ntry {\n  const response = await this.helpers.httpRequest({\n    method: 'POST',\n    url: `http://127.0.0.1:3000/api/documents/${results.processId}/n8n-results`,\n    json: true,\n    body: results\n  });\n  \n  console.log('✓ Results sent successfully');\n  console.log('Response:', JSON.stringify(response, null, 2));\n  \n  return [{\n    json: {\n      status: 'success',\n      message: 'Results sent to upload service',\n      processId: results.processId,\n      response: response\n    }\n  }];\n} catch (error) {\n  console.error('✗ Failed to send results');\n  console.error('Error message:', error.message);\n  console.error('Error response:', error.response?.body || 'No response body');\n  console.error('Status code:', error.statusCode || error.response?.statusCode);\n  console.error('Full error:', JSON.stringify(error, Object.getOwnPropertyNames(error)));\n  \n  return [{\n    json: {\n      status: 'error',\n      message: 'Failed to send results',\n      processId: results.processId,\n      error: error.message,\n      errorDetails: error.response?.body || null,\n      statusCode: error.statusCode || error.response?.statusCode || null\n    }\n  }];\n}"
      },
      "id": "2081db4e-89a9-4f16-a6b8-96fe3e960169",
      "name": "Send Results to Upload Service",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2160,
        368
      ]
    },
    {
      "parameters": {
        "jsCode": "// Fetch model pricing from API (FIXED)\nconst items = $input.all();\nconst processData = items[0].json;\nconst modelId = processData.modelId || 2;\n\nconsole.log('Fetching pricing for model:', modelId);\n\nconst response = await this.helpers.httpRequest({\n  method: 'GET',\n  url: `http://127.0.0.1:3000/api/admin/openai-models/${modelId}/pricing`,\n  json: true\n});\n\nconsole.log('Model pricing fetched:', response.data.model_name);\n\nreturn items.map(item => ({\n  json: response\n}));"
      },
      "id": "c7a0f58a-5f28-4f53-a6f3-370fe8938340",
      "name": "Get Model Pricing2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -896,
        704
      ]
    },
    {
      "parameters": {
        "jsCode": "// Fetch DocAI cost config (FIXED)\nconst items = $input.all();\n\nconsole.log('Fetching DocAI cost config');\n\nconst response = await this.helpers.httpRequest({\n  method: 'GET',\n  url: 'http://127.0.0.1:3000/api/admin/config/docai_cost_per_page',\n  json: true\n});\n\nconsole.log('DocAI cost:', response.data.value);\n\nreturn items.map(item => ({\n  json: response\n}));"
      },
      "id": "08123202-2b25-46be-8d13-805a39316df0",
      "name": "Get Document AI Cost Config2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -688,
        704
      ]
    },
    {
      "parameters": {
        "jsCode": "// Wait for file to be available in Google Drive\nawait new Promise(resolve => setTimeout(resolve, 2000));\n\nconst processData = $('Extract Process Data').first().json;\n\nconsole.log('Drive file ready for:', processData.filename);\n\nreturn [{\n  json: {\n    ...processData,\n    driveFileReady: true\n  }\n}];"
      },
      "id": "5f638753-36f3-440a-8b43-31e492f03615",
      "name": "Wait for Drive Upload2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -496,
        704
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": "={{ $('Extract Process Data').first().json.driveFileId }}",
        "options": {}
      },
      "id": "3d88e345-2321-4c53-8a42-5362bd3a6558",
      "name": "Download PDF from Drive2",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -288,
        704
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "i7A3g0R8hNGHooNA",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "command": "=python \"C:\\Automation\\AI Agents\\GCloud Document AI\\Eob_process_n8n\\eob_process_with_DocAI_n8n_without_watching_v6.py\" \"H:/My Drive/AAA AI-Training/Document Processing/EOB-Extractor/eob-source/{{ $('Extract Process Data').first().json.filename }}\""
      },
      "id": "b9a24362-bb6f-4a46-9f56-cb21add6d908",
      "name": "Execute Python - Document AI2",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -96,
        704
      ]
    },
    {
      "parameters": {
        "jsCode": "// Calculate Document AI cost dynamically\nconst pythonOutput = $input.first().json;\nconst docAiConfig = $('Get Document AI Cost Config2').first().json.data;\n\n// Extract number of pages from python output (Parse Python Output puts it at top level)\nlet pages = pythonOutput.pages || 0;\n\n// Fallback: check inside data object as well\nif (pages === 0 && pythonOutput.data && pythonOutput.data.pages) {\n  pages = pythonOutput.data.pages;\n}\n\nconsole.log('Pages found:', pages);\nconsole.log('Python output structure:', JSON.stringify(Object.keys(pythonOutput)));\n\nconst costPerPage = parseFloat(docAiConfig.value || 0.015);\nconst documentAiCost = pages * costPerPage;\n\nconsole.log(`Document AI Cost: ${pages} pages × $${costPerPage} = $${documentAiCost.toFixed(4)}`);\n\nreturn [{\n  json: {\n    documentAiCost: parseFloat(documentAiCost.toFixed(4)),\n    pages: pages,\n    costPerPage: costPerPage\n  }\n}];"
      },
      "id": "8d156cf5-fb37-44be-99c9-f33e30963740",
      "name": "Calculate Document AI Cost2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        368,
        480
      ]
    },
    {
      "parameters": {
        "jsCode": "// Parse Python script output to extract JSON data (WITH DEBUG)\nconst pythonResult = $input.first().json;\nconst output = pythonResult.stdout || '';\nconst stderr = pythonResult.stderr || '';\n\nconsole.log('=== PYTHON OUTPUT DEBUG ===');\nconsole.log('stdout length:', output.length);\nconsole.log('stderr:', stderr);\nconsole.log('First 500 chars:', output.substring(0, 500));\nconsole.log('Last 500 chars:', output.substring(Math.max(0, output.length - 500)));\n\n// Find JSON between markers (v6 uses JSON_CONTENT)\nconst startMarker = '===JSON_CONTENT_START===';\nconst endMarker = '===JSON_CONTENT_END===';\n\nconst startIdx = output.indexOf(startMarker);\nconst endIdx = output.indexOf(endMarker);\n\nconsole.log('Start marker index:', startIdx);\nconsole.log('End marker index:', endIdx);\n\nif (startIdx === -1 || endIdx === -1) {\n  console.error('Full stdout:', output);\n  console.error('Full stderr:', stderr);\n  throw new Error(`Could not find JSON markers in Python output. Start: ${startIdx}, End: ${endIdx}`);\n}\n\nconst jsonStr = output.substring(startIdx + startMarker.length, endIdx).trim();\nconsole.log('Extracted JSON string length:', jsonStr.length);\n\nconst data = JSON.parse(jsonStr);\n\n// Debug: Check what fields are in the data\nconsole.log('Parsed data keys:', Object.keys(data));\nconsole.log('Pages value from data:', data.pages);\nconsole.log('Total pages value:', data.total_pages);\n\nreturn [{\n  json: {\n    data: data,\n    pages: data.pages || data.total_pages || 0,  // Try both pages and total_pages\n    rawDataPath: data.raw_data_file || ''\n  }\n}];"
      },
      "id": "44d7e24d-fb8b-4894-a663-cff5aceff177",
      "name": "Parse Python Output2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        112,
        704
      ]
    },
    {
      "parameters": {
        "jsCode": "// Calculate OpenAI cost dynamically\nconst aiResponse = $input.first().json;\nconst modelPricing = $('Get Model Pricing2').first().json.data;\n\nconst inputTokens = aiResponse.usage?.prompt_tokens || 0;\nconst outputTokens = aiResponse.usage?.completion_tokens || 0;\n\nconst inputCostPer1k = parseFloat(modelPricing.input_cost_per_1k || 0.00015);\nconst outputCostPer1k = parseFloat(modelPricing.output_cost_per_1k || 0.0006);\n\nconst openAiCost = (inputTokens / 1000 * inputCostPer1k) + (outputTokens / 1000 * outputCostPer1k);\n\nconsole.log(`OpenAI Cost: ${inputTokens} input + ${outputTokens} output tokens = $${openAiCost.toFixed(4)}`);\nconsole.log(`Model: ${modelPricing.model_name} (${modelPricing.model_code})`);\n\nreturn [{\n  json: {\n    openAiCost: parseFloat(openAiCost.toFixed(4)),\n    inputTokens: inputTokens,\n    outputTokens: outputTokens,\n    totalTokens: inputTokens + outputTokens,\n    modelName: modelPricing.model_name,\n    modelCode: modelPricing.model_code,\n    inputCostPer1k: inputCostPer1k,\n    outputCostPer1k: outputCostPer1k\n  }\n}];"
      },
      "id": "4025f061-1863-4959-8aee-211d8978b298",
      "name": "Calculate OpenAI Cost2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        704
      ]
    },
    {
      "parameters": {
        "jsCode": "// Calculate total cost and processing time\nconst processData = $('Extract Process Data').first().json;\nconst docAiCost = $('Calculate Document AI Cost2').first().json;\nconst openAiCost = $('Calculate OpenAI Cost2').first().json;\n\nconst startTime = new Date(processData.startTime);\nconst endTime = new Date();\nconst processingTimeMs = endTime - startTime;\nconst processingTimeSeconds = Math.round(processingTimeMs / 1000);\n\nconst totalCost = parseFloat((docAiCost.documentAiCost + openAiCost.openAiCost).toFixed(4));\n\nconsole.log(`Total Cost: $${totalCost} (DocAI: $${docAiCost.documentAiCost} + OpenAI: $${openAiCost.openAiCost})`);\nconsole.log(`Processing Time: ${processingTimeSeconds} seconds`);\n\nreturn [{\n  json: {\n    totalCost: totalCost,\n    documentAiCost: docAiCost.documentAiCost,\n    openAiCost: openAiCost.openAiCost,\n    processingTimeSeconds: processingTimeSeconds,\n    processingTimeMs: processingTimeMs,\n    pages: docAiCost.pages,\n    inputTokens: openAiCost.inputTokens,\n    outputTokens: openAiCost.outputTokens,\n    modelUsed: openAiCost.modelName\n  }\n}];"
      },
      "id": "87036794-3126-4ba8-8857-693626db0c4a",
      "name": "Calculate Total Cost & Time2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        816,
        704
      ]
    },
    {
      "parameters": {
        "jsCode": "// Prepare JSON output (NO TIMESTAMP)\nconst aiResponse = $('OpenAI - Extract EOB Data2').first().json;\nconst processData = $('Extract Process Data').first().json;\nconst costData = $('Calculate Total Cost & Time2').first().json;\n\nlet extractedData;\n\n// Handle different OpenAI response formats\nif (aiResponse.message) {\n  const content = aiResponse.message.content || aiResponse.message;\n  if (typeof content === 'string') {\n    extractedData = JSON.parse(content);\n  } else {\n    extractedData = content;\n  }\n} else if (aiResponse.choices && aiResponse.choices[0]) {\n  const content = aiResponse.choices[0].message.content;\n  extractedData = JSON.parse(content);\n} else if (typeof aiResponse === 'string') {\n  extractedData = JSON.parse(aiResponse);\n} else if (aiResponse.data) {\n  extractedData = aiResponse.data;\n} else {\n  extractedData = aiResponse;\n}\n\nconst baseFilename = processData.originalFilename.replace('.pdf', '');\nconst jsonFilename = `extracted_${baseFilename}.json`;\n\nconst jsonOutput = {\n  data: extractedData.data || extractedData,\n  metadata: {\n    original_pdf: processData.originalFilename,\n    process_id: processData.processId,\n    processed_at: new Date().toISOString(),\n    source: 'Document AI + OpenAI',\n    model_used: costData.modelUsed,\n    total_records: (extractedData.data || extractedData).length || 0,\n    pages: costData.pages,\n    processing_time_seconds: costData.processingTimeSeconds,\n    costs: {\n      document_ai: costData.documentAiCost,\n      openai: costData.openAiCost,\n      total: costData.totalCost\n    },\n    tokens: {\n      input: costData.inputTokens,\n      output: costData.outputTokens\n    },\n    summary: extractedData.summary || {}\n  }\n};\n\nreturn [{\n  json: {\n    jsonOutput: jsonOutput,\n    jsonFilename: jsonFilename,\n    extractedRecords: extractedData.data || extractedData,\n    totalRecords: (extractedData.data || extractedData).length || 0\n  }\n}];"
      },
      "id": "2e9e61cb-a4b0-4302-9803-fe297567c547",
      "name": "Prepare JSON2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1024,
        704
      ]
    },
    {
      "parameters": {
        "jsCode": "// Prepare CSV output (NO TIMESTAMP)\nconst jsonData = $('Prepare JSON2').first().json;\nconst processData = $('Extract Process Data').first().json;\n\nconst records = jsonData.extractedRecords || [];\n\nif (records.length === 0) {\n  return [{\n    json: {\n      csvFilename: '',\n      csvContent: '',\n      error: 'No records to convert to CSV'\n    }\n  }];\n}\n\n// Get all unique keys from all records\nconst allKeys = new Set();\nrecords.forEach(record => {\n  Object.keys(record).forEach(key => allKeys.add(key));\n});\n\nconst headers = Array.from(allKeys);\n\n// Build CSV\nconst csvRows = [];\ncsvRows.push(headers.join(','));\n\nrecords.forEach(record => {\n  const row = headers.map(header => {\n    const value = record[header] || '';\n    // Escape values with commas or quotes\n    if (typeof value === 'string' && (value.includes(',') || value.includes('\"'))) {\n      return `\"${value.replace(/\"/g, '\"\"')}\"`;\n    }\n    return value;\n  });\n  csvRows.push(row.join(','));\n});\n\nconst csvContent = csvRows.join('\\n');\nconst baseFilename = processData.originalFilename.replace('.pdf', '');\nconst csvFilename = `extracted_${baseFilename}.csv`;\n\nreturn [{\n  json: {\n    csvFilename: csvFilename,\n    csvContent: csvContent\n  }\n}];"
      },
      "id": "ca20214d-74b7-4429-9184-2bdabfe8d8a9",
      "name": "Prepare CSV2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        976,
        928
      ]
    },
    {
      "parameters": {
        "jsCode": "// Convert JSON to binary for upload\nconst jsonData = $('Prepare JSON2').first().json;\nconst jsonStr = JSON.stringify(jsonData.jsonOutput, null, 2);\nconst buffer = Buffer.from(jsonStr, 'utf8');\n\nreturn [{\n  json: {\n    filename: jsonData.jsonFilename\n  },\n  binary: {\n    data: {\n      data: buffer.toString('base64'),\n      mimeType: 'application/json',\n      fileName: jsonData.jsonFilename\n    }\n  }\n}];"
      },
      "id": "acf11efd-a5da-4f63-a20a-313ad22d239e",
      "name": "JSON to Binary2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1216,
        704
      ]
    },
    {
      "parameters": {
        "jsCode": "// Convert CSV to binary for upload\nconst csvData = $('Prepare CSV2').first().json;\nconst buffer = Buffer.from(csvData.csvContent, 'utf8');\n\nreturn [{\n  json: {\n    filename: csvData.csvFilename\n  },\n  binary: {\n    data: {\n      data: buffer.toString('base64'),\n      mimeType: 'text/csv',\n      fileName: csvData.csvFilename\n    }\n  }\n}];"
      },
      "id": "74f05ce0-c69d-4f71-b4ec-805e95f9a447",
      "name": "CSV to Binary2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1136,
        928
      ]
    },
    {
      "parameters": {
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": "140_11GaATZVV3Ez7aQE7FGJJ4DHWXVFR",
        "options": {}
      },
      "id": "9573f81d-5cba-41a6-bc34-947fab50278e",
      "name": "Upload JSON to eob-results2",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1408,
        704
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "i7A3g0R8hNGHooNA",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": "140_11GaATZVV3Ez7aQE7FGJJ4DHWXVFR",
        "options": {}
      },
      "id": "41dacf26-174d-4de2-aa90-f7dda04425df",
      "name": "Upload CSV to eob-results2",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1280,
        928
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "i7A3g0R8hNGHooNA",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "fileId": "={{ $('Extract Process Data').first().json.driveFileId }}",
        "options": {}
      },
      "id": "24fdbcb9-09e0-4412-82ab-a327a6d988b2",
      "name": "Move & Rename PDF2",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1440,
        928
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "i7A3g0R8hNGHooNA",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Prepare complete results payload to send back to upload service\nconst processData = $('Extract Process Data').first().json;\nconst costData = $('Calculate Total Cost & Time2').first().json;\nconst jsonUpload = $('Upload JSON to eob-results2').first().json;\nconst csvUpload = $('Upload CSV to eob-results2').first().json;\nconst pdfMove = $('Move & Rename PDF2').first().json;\nconst jsonData = $('Prepare JSON2').first().json;\n\n// Debug: Log all source data\nconsole.log('=== SOURCE DATA DEBUG ===');\nconsole.log('processData:', JSON.stringify(processData, null, 2));\nconsole.log('costData:', JSON.stringify(costData, null, 2));\nconsole.log('jsonUpload:', JSON.stringify(jsonUpload, null, 2));\nconsole.log('csvUpload:', JSON.stringify(csvUpload, null, 2));\nconsole.log('pdfMove:', JSON.stringify(pdfMove, null, 2));\nconsole.log('jsonData.totalRecords:', jsonData.totalRecords);\n\n// Helper: Convert undefined/NaN to null, ensure numbers are valid\nconst sanitize = (value, defaultValue = null) => {\n  if (value === undefined || value === null) return defaultValue;\n  if (typeof value === 'number' && isNaN(value)) return defaultValue;\n  return value;\n};\n\nconst payload = {\n  processId: sanitize(processData.processId),\n  status: 'Processed',\n  jsonDriveUrl: sanitize(jsonUpload.webViewLink) || sanitize(jsonUpload.webContentLink) || null,\n  csvDriveUrl: sanitize(csvUpload.webViewLink) || sanitize(csvUpload.webContentLink) || null,\n  jsonDriveId: sanitize(jsonUpload.id),\n  csvDriveId: sanitize(csvUpload.id),\n  // processedPdfDriveId: sanitize(pdfMove.id), // REMOVED: Database column does not exist\n  processingTimeSeconds: sanitize(costData.processingTimeSeconds, 0),\n  documentAiCost: sanitize(costData.documentAiCost, 0),\n  openAiCost: sanitize(costData.openAiCost, 0),\n  totalCost: sanitize(costData.totalCost, 0),\n  totalRecords: sanitize(jsonData.totalRecords, 0),\n  noOfPages: sanitize(costData.pages, 0)\n};\n\nconsole.log('=== PREPARED PAYLOAD ===');\nconsole.log(JSON.stringify(payload, null, 2));\nconsole.log('\\n=== FIELD TYPE CHECK ===');\nObject.entries(payload).forEach(([key, val]) => {\n  console.log(`${key}: type=${typeof val}, value=${val}, isNull=${val === null}`);\n});\n\nreturn [{ json: payload }];"
      },
      "id": "1a02fadc-1365-4136-8d8f-086aa50fe27b",
      "name": "Prepare Results Payload2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1664,
        928
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "You are an invoice data extraction expert. Extract accurate billing and line item information from invoices.. Your job is to return accurate structured, machine-readable data with quality controls and zero hallucinations with 100% confidence.",
              "role": "system"
            },
            {
              "content": "=Extract ALL EOB (Explanation of Benefits) records from the input data. \nINPUT: {{ $json.data.text }}\n\nWith your highly intelligent judgement with deep knowledge of Invoice data, make sure all accurate billing and line item information from invoices are processed without any data loss.\nAt the end provide a summary of validations/corrections.\n\nFor EACH invoice, extract:\\n- invoice_number, invoice_date (MM/DD/YYYY)\\n- vendor_name, vendor_address, vendor_tax_id\\n- customer_name, customer_address, billing_address\\n- po_number, due_date (MM/DD/YYYY)\\n- line_items (array with: item_description, quantity, unit_price, line_total)\\n- subtotal, tax_amount, tax_rate, shipping_cost\\n- total_amount, amount_due\\n- payment_terms, payment_method\\n- currency, notes\\n- Confidence_Score (0-100)\\n\\nReturn ONLY valid JSON with 'data' array containing invoice header and line items.\n- Confidence_Score: Your confidence in the accuracy of this extraction (0-100)\n\nIMPORTANT RULES:\n- Return \"\" (empty string) for any field not found, NOT \"N/A\"\n- Return amounts as plain numbers without $ or commas\n- Return dates in MM/DD/YY format\n\n\nReturn ONLY valid JSON with 'data' array."
            }
          ]
        },
        "jsonOutput": true,
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        320,
        704
      ],
      "id": "cf7fde2f-fabe-4d89-a3f7-bb332c79cc8e",
      "name": "OpenAI - Extract EOB Data2",
      "credentials": {
        "openAiApi": {
          "id": "GK7XmbpGPTdHpoPW",
          "name": "EOB-Assistant"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Send results to database (FIXED)\nconst results = $('Prepare Results Payload2').first().json;\n\nconsole.log('=== SENDING RESULTS TO UPLOAD SERVICE ===');\nconsole.log('Process ID:', results.processId);\nconsole.log('Payload:', JSON.stringify(results, null, 2));\n\ntry {\n  const response = await this.helpers.httpRequest({\n    method: 'POST',\n    url: `http://127.0.0.1:3000/api/documents/${results.processId}/n8n-results`,\n    json: true,\n    body: results\n  });\n  \n  console.log('✓ Results sent successfully');\n  console.log('Response:', JSON.stringify(response, null, 2));\n  \n  return [{\n    json: {\n      status: 'success',\n      message: 'Results sent to upload service',\n      processId: results.processId,\n      response: response\n    }\n  }];\n} catch (error) {\n  console.error('✗ Failed to send results');\n  console.error('Error message:', error.message);\n  console.error('Error response:', error.response?.body || 'No response body');\n  console.error('Status code:', error.statusCode || error.response?.statusCode);\n  console.error('Full error:', JSON.stringify(error, Object.getOwnPropertyNames(error)));\n  \n  return [{\n    json: {\n      status: 'error',\n      message: 'Failed to send results',\n      processId: results.processId,\n      error: error.message,\n      errorDetails: error.response?.body || null,\n      statusCode: error.statusCode || error.response?.statusCode || null\n    }\n  }];\n}"
      },
      "id": "f215445a-0501-479b-b8f4-a89d3e905826",
      "name": "Send Results to Upload Service2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1904,
        928
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Extract Process Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Process Data": {
      "main": [
        [
          {
            "node": "Route by Document Category",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Document Category": {
      "main": [
        [
          {
            "node": "EOB Processing Chain Goes Here",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Facesheet Processing Chain Goes Here",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Invoice Processing Chain Goes Here",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EOB Processing Chain Goes Here": {
      "main": [
        [
          {
            "node": "Get Model Pricing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Facesheet Processing Chain Goes Here": {
      "main": [
        [
          {
            "node": "Get Model Pricing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Invoice Processing Chain Goes Here": {
      "main": [
        [
          {
            "node": "Get Model Pricing2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Model Pricing": {
      "main": [
        [
          {
            "node": "Get Document AI Cost Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Document AI Cost Config": {
      "main": [
        [
          {
            "node": "Wait for Drive Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Drive Upload": {
      "main": [
        [
          {
            "node": "Download PDF from Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download PDF from Drive": {
      "main": [
        [
          {
            "node": "Execute Python - Document AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Python - Document AI": {
      "main": [
        [
          {
            "node": "Parse Python Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Python Output": {
      "main": [
        [
          {
            "node": "OpenAI - Extract EOB Data1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Calculate Document AI Cost",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate OpenAI Cost": {
      "main": [
        [
          {
            "node": "Calculate Total Cost & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Total Cost & Time": {
      "main": [
        [
          {
            "node": "Prepare JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare JSON": {
      "main": [
        [
          {
            "node": "JSON to Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare CSV": {
      "main": [
        [
          {
            "node": "CSV to Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSON to Binary": {
      "main": [
        [
          {
            "node": "Upload JSON to eob-results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CSV to Binary": {
      "main": [
        [
          {
            "node": "Upload CSV to eob-results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload JSON to eob-results": {
      "main": [
        [
          {
            "node": "Prepare CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload CSV to eob-results": {
      "main": [
        [
          {
            "node": "Move & Rename PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move & Rename PDF": {
      "main": [
        [
          {
            "node": "Prepare Results Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Results Payload": {
      "main": [
        [
          {
            "node": "Send Results to Upload Service1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI - Extract EOB Data1": {
      "main": [
        [
          {
            "node": "Calculate OpenAI Cost",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Model Pricing1": {
      "main": [
        [
          {
            "node": "Get Document AI Cost Config1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Document AI Cost Config1": {
      "main": [
        [
          {
            "node": "Wait for Drive Upload1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Drive Upload1": {
      "main": [
        [
          {
            "node": "Download PDF from Drive1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download PDF from Drive1": {
      "main": [
        [
          {
            "node": "Execute Python - Document AI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Python - Document AI1": {
      "main": [
        [
          {
            "node": "Parse Python Output1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Python Output1": {
      "main": [
        [
          {
            "node": "OpenAI - Extract EOB Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Calculate Document AI Cost1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate OpenAI Cost1": {
      "main": [
        [
          {
            "node": "Calculate Total Cost & Time1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Total Cost & Time1": {
      "main": [
        [
          {
            "node": "Prepare JSON1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare JSON1": {
      "main": [
        [
          {
            "node": "JSON to Binary1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare CSV1": {
      "main": [
        [
          {
            "node": "CSV to Binary1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSON to Binary1": {
      "main": [
        [
          {
            "node": "Upload JSON to eob-results1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CSV to Binary1": {
      "main": [
        [
          {
            "node": "Upload CSV to eob-results1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload JSON to eob-results1": {
      "main": [
        [
          {
            "node": "Prepare CSV1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload CSV to eob-results1": {
      "main": [
        [
          {
            "node": "Move & Rename PDF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move & Rename PDF1": {
      "main": [
        [
          {
            "node": "Prepare Results Payload1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Results Payload1": {
      "main": [
        [
          {
            "node": "Send Results to Upload Service",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI - Extract EOB Data": {
      "main": [
        [
          {
            "node": "Calculate OpenAI Cost1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Model Pricing2": {
      "main": [
        [
          {
            "node": "Get Document AI Cost Config2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Document AI Cost Config2": {
      "main": [
        [
          {
            "node": "Wait for Drive Upload2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Drive Upload2": {
      "main": [
        [
          {
            "node": "Download PDF from Drive2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download PDF from Drive2": {
      "main": [
        [
          {
            "node": "Execute Python - Document AI2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Python - Document AI2": {
      "main": [
        [
          {
            "node": "Parse Python Output2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Python Output2": {
      "main": [
        [
          {
            "node": "OpenAI - Extract EOB Data2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Calculate Document AI Cost2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate OpenAI Cost2": {
      "main": [
        [
          {
            "node": "Calculate Total Cost & Time2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Total Cost & Time2": {
      "main": [
        [
          {
            "node": "Prepare JSON2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare JSON2": {
      "main": [
        [
          {
            "node": "JSON to Binary2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare CSV2": {
      "main": [
        [
          {
            "node": "CSV to Binary2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSON to Binary2": {
      "main": [
        [
          {
            "node": "Upload JSON to eob-results2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CSV to Binary2": {
      "main": [
        [
          {
            "node": "Upload CSV to eob-results2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload JSON to eob-results2": {
      "main": [
        [
          {
            "node": "Prepare CSV2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload CSV to eob-results2": {
      "main": [
        [
          {
            "node": "Move & Rename PDF2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move & Rename PDF2": {
      "main": [
        [
          {
            "node": "Prepare Results Payload2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Results Payload2": {
      "main": [
        [
          {
            "node": "Send Results to Upload Service2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI - Extract EOB Data2": {
      "main": [
        [
          {
            "node": "Calculate OpenAI Cost2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "fe302622-c4f0-4fbd-9b94-f1eb1e302790",
  "meta": {
    "instanceId": "a839365551ba2f9c600cf76bdedca7e00a3fcbe564410c8e45e7ede24e6084de"
  },
  "id": "o3WBpYoJGMcnWzcJ",
  "tags": []
}